@charset "UTF-8";

/* MEDIA QUERY */

/* Typical Devices Breakpoint
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Teblet: de 768px até 992px
Desketop: de 992px até 1200px
Grandes telas; acima de 1200px
*/

@media print { /* IMPRESSÃO */
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../imagens/back-print.jpg);/* DESNECESSÁRIO */
    }

    main{
        border: 2px solid black;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    #print{
        display: block;
    }
    
    #phone, #tablet, #pc, #tv {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    #tablet{
        display: block;
    }
    
    #phone, #print, #pc, #tv {
        display: none;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) { /* DESKTOP */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    #pc{
        display: block;
    }
    
    #phone, #tablet, #print, #tv {
        display: none;
    }
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    #tv{
        display: block;
    }
    
    #phone, #tablet, #print, #pc{
        display: none;
    }
}